body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row; /* Revient à une disposition en ligne */
    margin: 15px;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #d3d3d3;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: #cca9dd;
    color: #fff;
}

header .header-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header .header-content p {
    font-size: 1.2em;
}

.main {
    padding: 20px;
}

.future-plans .container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.future-plans h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #cca9dd;
}

.future-plans p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
}
